<app-header></app-header>
<div class="formData">
    <div class="insData">
        <h1>Update Student</h1>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Input your name">
                    <div class="form__group field">
                        <input type="text" ngModel="{{studentData?.userName}}" formControlName="userName" id="userName"
                            class="form__field" placeholder="Full Name" required="">
                        <label for="name" class="form__label">Full Name</label>
                    </div>
                </nz-form-control>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Fathers name is required!">
                    <div class="form__group field">
                        <input type="text" ngModel="{{studentData?.fName}}" formControlName="fName" id="fName"
                            class="form__field" placeholder="Name" required="">
                        <label for="fname" class="form__label">Fathers Name</label>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Input valid E-mail!">
                    <div class="form__group field">
                        <input type="email" ngModel="{{studentData?.email}}" formControlName="email" id="email"
                            class="form__field" placeholder="Name" required="">
                        <label for="name" class="form__label">Email Id</label>
                    </div>
                </nz-form-control>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your phone number!">
                    <div class="form__group field">
                        <input type="text" ngModel="{{studentData?.phoneNumber}}" formControlName="phoneNumber"
                            id="phonenumber" class="form__field" placeholder="Name" required="">
                        <label for="phoneNumber" class="form__label">Mobile Number</label>
                    </div>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Enter your data of birth">
                    <div class="form__group field">
                        <input formControlName="dob" ngModel="{{studentData?.dob}}" id="dob" class="form__field"
                            placeholder="dob" required="">
                        <label for="name" class="form__label">Enter DOB(dd-mm-yy)</label>
                    </div>
                </nz-form-control>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Gender!">
                    <div class="form__group field">
                        <input type="text" ngModel="{{studentData?.gender}}" formControlName="gender" id="gender"
                            class="form__field" placeholder="Name" required="">
                        <label for="gender" class="form__label">Enter Gender</label>
                    </div>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Input Course">
                    <div class="form__group field">
                        <input type="text" ngModel="{{studentData?.userCourse}}" formControlName="userCourse"
                            id="course" class="form__field" placeholder="userCourse" required="">
                        <label for="name" class="form__label">Enter Course</label>
                    </div>
                </nz-form-control>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Subject!">
                    <div class="form__group field">
                        <input type="text" ngModel="{{studentData?.userSub}}" formControlName="userSub" id="subject"
                            class="form__field" placeholder="Name" required="">
                        <label for="userSub" class="form__label">Select Subject</label>
                    </div>
                </nz-form-control>
            </nz-form-item>




            <nz-modal [(nzVisible)]="isSucessfull" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="handleOk()"
                (nzOnCancel)="handleCancel()">
                <ng-container *nzModalContent>
                    <img width="80px" height="65px" src="../../assets/payment_successful.gif" alt="">
                    <span style="font-size: 25px; font-weight: bold;">Updated Sucessfully</span>
                </ng-container>
            </nz-modal>

            <nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                        <div class="form__group field">
                            <input class="form__field" ngModel="{{studentData?.password}}"
                                type="{{ hidePassword ? 'password' : 'text' }}" placeholder="Password" id="password"
                                formControlName="password" (ngModelChange)="updateConfirmValidator()" />
                            <span *ngIf="!hidePassword" class="visible" nz-icon (click)="togglePasswordVisibility()"
                                nzType="eye-invisible" nzTheme="outline"></span>
                            <span *ngIf="hidePassword" class="visible" (click)="togglePasswordVisibility()" nz-icon
                                nzType="eye" nzTheme="outline"></span>
                            <label for="name" class="form__label"> Password</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                        <div style="margin-left: 272px;" class="form__group field">
                            <input class="form__field" ngModel="{{studentData?.password}}"
                                placeholder="Confirm Password" type="{{ hideCPassword ? 'password' : 'text' }}"
                                formControlName="checkPassword" id="checkPassword" />
                            <span *ngIf="!hideCPassword" class="visible" style="height: 30px;"
                                (click)="toggleCPasswordVisibility()" nz-icon nzType="eye-invisible"
                                nzTheme="outline"></span>
                            <span *ngIf="hideCPassword" class="visible" nz-icon nzType="eye"
                                (click)="toggleCPasswordVisibility()" nzTheme="outline"></span>
                            <label for="name" class="form__label">Confirm Password</label>
                        </div>
                        <ng-template #errorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Please confirm your
                                password!</ng-container>
                            <ng-container *ngIf="control.hasError('confirm')">
                                Two passwords that you enter is inconsistent!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </nz-form-item>


            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button class="registerBtn" nzType="primary">Save</button>
                    <span class="custom-button" routerLink="/student">Cancel</span>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>



<app-footer></app-footer>